<mat-grid-list cols = "5" rowHeight = "25vh">
    <mat-grid-tile 
    [colspan] = "1"
    [rowspan] = "1">
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "3"
    [rowspan] = "1">

    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Champion" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl" (change)="clear()" onClick="{this.select();this.CHAMP_DATA=[]}"> 
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getCounters($event.option.value)">
            <mat-option  *ngFor="let state of filteredChamps | async" [value]="state.name">
              <img class="example-option-img" aria-hidden [src]="state.icon" height="25">
              <span>{{state.name}}</span> |
              <small>Roles: {{state.roles}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      
    </mat-grid-tile>

    <mat-grid-tile 
    [colspan] = "1"
    [rowspan] = "1">
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "1"
    [rowspan] = "3">
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "3"
    [rowspan] = "3">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Icon Column -->
        <ng-container matColumnDef="icon">
          <th mat-header-cell *matHeaderCellDef> Icon </th>
          <td mat-cell *matCellDef="let element"> 
            <img class="example-option-img" aria-hidden [src]="element.icon" height="25">  
        </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Tags Column -->
        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef> Tags </th>
          <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "1"
    [rowspan] = "3">
    </mat-grid-tile>
 </mat-grid-list>
