<h4>Who are you playing against? (optional):</h4>
<form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Champion" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl" (change)="selectedEnemy($event.value)">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
              <img class="example-option-img" aria-hidden [src]="state.icon" height="25">
              <span>{{state.name}}</span> |
              <small>Roles: {{state.roles}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

      